{% block sw_cms_block_product_slider_hero_preview %}
<div class="sw-cms-preview-product-slider-hero">
	<h2>Custom Slider</h2>
    <mt-icon
        name="regular-chevron-left"
        size="12"
    />
    <div class="sw-cms-preview-product-slider-hero__product-box">
        <sw-cms-product-box-preview has-text />
    </div>
    <mt-icon
        name="regular-chevron-right"
        size="12"
    />
</div>
{% endblock %}
