{% block sw_cms_block_product_slider_hero_preview %}
<div class="sw-cms-preview-product-slider-hero">
    <mt-icon
        name="regular-chevron-left"
        size="20"
    />
    <img
                :src="assetFilter('/administration/administration/static/img/cms/preview_glasses_small.jpg')"
                alt=""
            >
    <mt-icon
        name="regular-chevron-right"
        size="20"
    />
</div>
{% endblock %}


