{% block sw_cms_block_product_slider_hero_preview %}
<div class="sw-cms-preview-product-slider-hero">
	<h2>Custom Slider</h2>
    <mt-icon
        name="regular-chevron-left"
        size="20"
    />
    <div class="sw-cms-preview-product-slider-hero__product-box">
        <img
                :src="assetFilter('/administration/administration/static/img/cms/preview_glasses_small.jpg')"
                alt=""
            >
    </div>
    <mt-icon
        name="regular-chevron-right"
        size="20"
    />
</div>
{% endblock %}
